# Build output
target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
.vscode/
.classpath
.project
.settings

# STS / Eclipse
.apt_generated
.factorypath
.springBeans
.sts4-cache

# NetBeans (nur wenn du’s nutzt)
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
